body {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
	background: url("../images/full-bloom.png");
	line-height: 34px;
	margin: 0;
}

#me {
	height: 150px;
	width: 150px;
	float: left;
	margin: 20px;
}

.container {
	width: 847px;
	padding: 50px;
	margin-top: 80px;
	/* margin: auto; */
	background: #ffffff;
	border: #dddddd 2px solid;
}

hr {
	border: 1px solid #cccccc;
}

/* footer */
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
	background: #666666;
	border-top: 8px solid #4aaaa5;
}
